*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    box-sizing: border-box;
}
.gap{
    padding: 5px 200px;

}
.Cont-1{
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightpink;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li {
    margin: 5px;
}
.icons i{
    margin: 5px;
}

.container2{
    height: 500px;
    width: 100%;
    background: radial-gradient(circle, rgb(250, 147, 168) 84%, rgb(248, 93, 93) 100%); 
    position: relative;
    
}
.container2a img{
    position: absolute;
    object-fit: contain;
    height: 500px;
    width: 100%;
    right: 1px;
    
}
.container2b{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 180px;
}
.container2b h2{
font-size: 25px;
width: 250px;

}
.container2b button{
    border: none;
    background-color: rgba(241,38,11,0.900);
    color: white;
    padding: 10px 20px;
    font-size: 11px;
}

.column3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card1{
    height: 100px;
    width: 33.33%;
    margin: 0px 12px;
    text-align: center;
}
.card1 img{
    object-fit: cover;
    width: 100%;
}
.container3 h2{
    text-align: center;
    padding: 30px auto;
    padding-bottom: 25px;
}
.container3{
    padding-top: 24px;
    padding-bottom: 344px;
}
.container3 p{
    font-size: 11px;
}
.container3 h6{
    font-size: 20px;
}
.container3 span{
    font-size: 11px;
}

.container4{
    width: 100%;
    height: 400px;
    background: radial-gradient(circle, rgba(250,235,215,0.8) 0%, rgba(250,235,215,0.8) 43%);
    position: relative;
    
}
.container4 .container4a >img{
    position: absolute;
    object-fit: cover;
    height: 400PX;
    right: 150px;
}
.container4b{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 180px;
}
.container4b h1{
    font-size: 32px;
    margin: 10px 0px 20px;
    width: 300px;
}
.container4b button{
    border: none;
    background-color: rgba(241,38,11,0.900);
    color: white;
    padding: 10px 20px;
    font-size: 11px;
}

/* .cotainer5{
    padding-top: 65px;
} */
.container5 h2{
    text-align: center;
    /* padding: 30px auto;
    padding-bottom: 25px; */
    padding: 45px 0px;
}
.container5{
    padding-bottom: 250px;
}
.container5 p{
    font-size: 11px;
}
.container5 h6{
    font-size: 20px;
}
.container5 span{
    font-size: 11px;
}

.container6 .column4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column4 .card2 h6{
    text-align: center;
}
.column4 .card2 p{
    font-size: 10px;
}

.container6{
    padding-bottom: 90px;
}

.container7 h2{
    text-align: center;
    padding-bottom: 55px;
}
.container7 p{
    font-size: 11px;
}
.container7 h6{
    font-size: 20px;
}
.container7 span{
    font-size: 11px;
}
.container7{
    padding-bottom: 290px;
}

.container8 p{
    font-size: 11px;
}
.container8 h6{
    font-size: 20px;
}
.container8 span{
    font-size: 11px;
}
.container8{
    padding-bottom: 250px;
}

.container9 h2{
    text-align: center;
    padding-bottom: 55px;
}
.container9{
    padding-bottom: 250px;
}


.container10 h2{
    text-align: center;
    padding-bottom: 55px;
}
.container10{
    padding-bottom: 100px;
}


/* -----------------footer----------------- */
.container11{
    background-color: rgb(231, 226, 204);
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column5{
    display: flex;
    flex-direction: column;
    margin-top: 20px;  
}

.column5 a{
    font-size: 12px;
    line-height: 2.0em;
    text-decoration: none;
    color: rgb(109, 87, 71);
}

.column5 a p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.card-c h2{
    /* padding-top: 1px; */
    font-size: 14px;
    margin-bottom: 15px;
}

.card-c img{
    height: 40px;
    width: 100px;
    margin: 20px 0px;
}

.download{
    border-bottom: 1px solid rgb(214, 205, 184);
}
.footerh{
    text-align: center;
    padding: 20px 0px;
}