*{margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    }
    
    :root{
        --mainColor:rgb(5, 180, 19);
        --backColor:rgba(212, 202, 172, 0.897)
    }
    
    .space{
        padding: 10px 70px;
    }
    
    body{
        background-color: rgba(212, 202, 172, 0.897);
    }
    
    ul{
        list-style: none;
        padding: 0;
    }
    
    a{
        text-decoration: none;
    }
    
    
    .subhead{
        background-color: rgb(5, 180, 19);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    
    .subhead .subhead1 ul {
        display: flex;  
    }
    
    .subhead .subhead2 ul{
        display: flex;
    }
    
    .subhead .subhead1 ul li {
        margin-right: 20px;
    }
    
    .subhead .subhead2 ul li{
        margin-left: 20px;
    }
    
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }
    
    .logo-area img{
       height: 35px;
       width: 35px;
       margin-right: 3px;
    }
    
    .logo-area .sec{
        color: rgb(5, 180, 19);
        font-size: 30px;
        font-weight: 800;
    }
    
    .logo-area, .search, .icons{
        display: flex;
        align-items: center;
    }
    
    .search{
        border: 1px solid rgb(165, 165, 165);
    }
    
    .search input{
        width: 400px;
        padding: 8px;
        border: none;
    }
    
    .search i{
        background-color: rgb(5, 180, 19);
        padding: 12px;
        color: white;
        
    }
    
    .icons i{
        margin-left: 15px;
        border-radius: 50%;
        padding: 10px;
        font-size: 14px;
    }
    
    .icons :first-child{
        background-color: rgba(172, 218, 202,0.7);
    }
    
    .icons :nth-child(2){
        background-color: rgba(219, 119, 119, 0.3);
    }
    
    .icons :last-child{
        background-color: rgba(165, 165, 101,0.7);
    }
    
    
    .subhead3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 70px;
        background-color: white;
        border-top: 1px solid rgba(212, 202, 172, 0.897);
    }
    
    .menu ul{
        display: flex;
    }
    
    .dep{
        background-color: rgb(5, 180, 19);
        border: none;
        color: white;
        padding: 10px;
    }
    
    .dep i{
        margin-right: 5px;
    }
    
    .subhead3 .menu>ul li a{
        color: black;
        margin: 10px;
        font-weight: 700;
    }
    
    .super{
        background-color:rgb(5, 180, 19) ;
        border-radius: 30px;
        padding: 7px 20px;
        margin: 3px 0px;
    }
    
    .super i,a{
        color: white;
    }
    
    .container-cover{
        display: flex;
        width: 100%;
    }
    
    .container1{
        width: 50%;
    }
    
    .container1 img{
        width: 100%;
        display: inline-block;
        height: 300px;
    }
    
    .container2{
        width: 25%;
        display: flex;
        height: 300px;
    }
    
    .subcontainer1 img{
        width: 100%;
        object-fit: cover;
        height: 150px;
        padding: 0px 5px 3px;
    }
    
    .container3 img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    
    .container4 img{
        width: 33%;
        height: 150px;
        border-radius: 10px;
    }
    
    .container5{
        background-color: white;
    }
    
    .container5 h1, span{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }
    
    .container5 h1 span{
        color: rgb(5, 180, 19);
        text-decoration: underline;
    }
    
    .container5 p{
        text-align: center;
    }
    
    
    .subcontainer5{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .card{
        position: relative;
        
    }
    
    .card img{
        width: 100%;
        border: 1px solid gainsboro;
        background-color: aquamarine;
        
    }
    
    .card .card-content{
        position: absolute;
        bottom:10px;
        left: 15px;
        text-align: start;
        
    }
    
    .card-content i{
        color: rgb(224, 156, 9);
    }
    
    .card-content h3{
        font-size: 14px;
        font-weight: 800;
    }
    
    .card-content p{
        font-size: 12px;
        color: rgb(5, 180, 19);
        
    }
    
    .subcontainer5 :nth-child(even){
        margin: 0px 10px;
    }
    
    
    .container6{
        background-color: rgba(212, 202, 172, 0.897);
    }
    
    .container6 .subcontainer6{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
    
    
    .container6 P{
        color: rgb(15, 15, 15);
        margin-left: 3px;
    }
    
    .container6 h1{
        font-size: 30px;
        line-height: 22px;
        margin-bottom: 10px;
        font-weight: 500;
    }
    
    .container7{
        display: flex;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        
    }
    
    .card7{
        width: 50%;
        object-fit: cover;
        height: 200px;
        margin: 20px auto 10px;
        
    }
    
    .card7 img{
        
        height: 200px;
        width: 100%;
        border-radius: 10px;
        
        }
    
    .card8{
        width: 50%;
        object-fit: cover;
        height: 200px;
        margin: 20px 0px 10px 15px;
    }
    
    .card8 img{
        height: 200px;
        width: 100%;
        border-radius: 10px;
    }
    
    .container8{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(228, 241, 241);
    }
    
    .column{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        
        
    }
    
    .column a{
        color: rgba(14, 13, 13, 0.753);
        font-size: 12px;
        line-height: 1.8em;
    }
    
    .column a p{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        color: black;
    }
    
    .column a .num{
        font-size: 18px;
        color: rgb(212, 112, 19);
    }
    
    .column a >i{
        margin:5px 10px;
    }
    
    .bottom-icon{
        margin-top: 10px;
    }
    
    
    .bottom-icon i{
        background: rgba(0, 0, 0, 0.2);
        padding: 5px 10px;
        
    }
    
    .copy-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: beige;
        padding: 0px auto;
    }
    
    .copy-area p{
        font-size: 12px;
        font-weight: 800;
        color: rgb(109, 87, 71);
    }
    
    .visa i{
        font-size: 20px;
    }
    
    .card-c{
        background-color: beige;
        padding: 10px;
    }
    
    .card-c img{
        height: 30px;
        width: 90px;
        border-radius: 2px;
        margin: 3px;
    }
    
    .card-c h1,h2{
        font-size: 24px;
    }
    
    .card-c p{
        font-size: 12px;
        color: rgb(109, 87, 71);
    }
    
    .card-c .email{
        margin: 10px 0px;
        border: none;
        border-radius: 4px 0px 0px 4px;
        padding: 3px;
    }
    
    .card-c i{
        background-color: rgb(5, 180, 19);
        padding: 7px;
        border-radius: 0px 4px 4px 0px;
    }