*{
    margin: 0px;
    
}
body{
    background-color: rgba(212, 202, 172, 0.897);
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}


.subhead{
    background-color: rgb(5, 180, 19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.subhead .subhead1 ul {
    display: flex;  
}

.subhead .subhead2 ul{
    display: flex;
}

.subhead .subhead1 ul li {
    margin-right: 20px;
}

.subhead .subhead2 ul li{
    margin-left: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo-area img{
   height: 35px;
   width: 35px;
   margin-right: 3px;
}

.logo-area .sec{
    color: rgb(5, 180, 19);
    font-size: 30px;
    font-weight: 800;
}

.logo-area, .search, .icons{
    display: flex;
    align-items: center;
}

.search{
    border: 1px solid rgb(165, 165, 165);
}

.search input{
    width: 400px;
    padding: 8px;
    border: none;
}

.search i{
    background-color: rgb(5, 180, 19);
    padding: 12px;
    color: white;
    
}

.icons i{
    margin-left: 15px;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
}

.icons :first-child{
    background-color: rgba(172, 218, 202,0.7);
}

.icons :nth-child(2){
    background-color: rgba(219, 119, 119, 0.3);
}

.icons :last-child{
    background-color: rgba(165, 165, 101,0.7);
}


.subhead3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
    background-color: white;
    border-top: 1px solid rgba(212, 202, 172, 0.897);
}

.menu ul{
    display: flex;
}

.dep{
    background-color: rgb(5, 180, 19);
    border: none;
    color: white;
    padding: 10px;
}

.dep i{
    margin-right: 5px;
}

.subhead3 .menu>ul li a{
    color: black;
    margin: 10px;
    font-weight: 700;
}

.super{
    background-color:rgb(5, 180, 19) ;
    border-radius: 30px;
    padding: 7px 20px;
    margin: 3px 0px;
}

.super i,a{
    color: white;
}

.container-cover{
    display: flex;
    width: 100%;
}

.container1{
    width: 50%;
}

.container1 img{
    width: 100%;
    display: inline-block;
    height: 300px;
}

.container2{
    width: 25%;
    display: flex;
    height: 300px;
}

.subcontainer1 img{
    width: 100%;
    object-fit: cover;
    height: 150px;
    padding: 0px 5px 3px;
}

.container3 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.container4 img{
    width: 33%;
    height: 150px;
    border-radius: 10px;
}